.stepper-wrapper-horizontal {
    display: flex;
    justify-content: space-between;
}

    .step-wrapper {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .step-number {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 3px;
        text-align: center;
        margin-bottom: 1.2rem;
    }
    
    .divider-line {
        height: 1px;
        background-color: #bdbdbd;
        position: absolute;
        width: 80%;
        top: 20%;
        left: 65%;
    }

    .step-number-active {
        background: black;
        color: white;
    }

    .step-number-disabled {
        border: 1px solid grey;
    }

    .step-description-active {
    font-weight: bold;
    }
