  
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

h3 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
}

.btn-group-link {
  margin-right: 10px;
  width: 40px;
}

    